
@charset "utf8";

*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}

#root{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    /* mobile viewport bug fix */
    padding-bottom: 60px; 
}

/* --------------- Common --------------- */

/* --------- top-menu ---------*/

.top-menu{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 0;
    list-style: none;
}
.top-menu>li{
    float: right;
}
.top-menu>li>a{
    display: inline-block;
    height: 30px;
    margin-left: 3px;
    padding: 3px 12px;
    color: #293B5F;
    vertical-align: middle;
    background-color: #DBE6FD;
    border-radius: 3px;
    font-size: 15px;
    transition: 0.2s ease;
}

@media screen and (max-width: 767px) {
    .top-menu{
        margin-bottom: 10px;
    }
}


/* --------------- Header --------------- */

.header{
    width: 100%;
    height: 60px;
    background-color: #77ACF1;
}

.header-wrap{
    position: relative;
    max-width: 1080px;
    height: 100%;
}

.title{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    font-weight: 700;
    font-size: 22px;
}

.title>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .title{ 
        left: 20px; 
        transform: translate(0, -50%); 
        font-size: 18px;
    }
}


/* --------------- Main --------------- */

.main{
    position: relative;
    max-width: 1080px;
    min-height: calc(100vh - 120px);
    padding: 30px 0;
}

@media screen and (max-width: 1080px) {
    .main{
        padding: 30px 10px;
    }
}

@media screen and (max-width: 767px) {
    .main{
        padding: 10px;
    }
}

/* ---------- Intro ---------- */

.intro{
    width: 100%;
    text-align: center;
    user-select: none;
}

.introTxt{
    position: absolute;
    top: 10%; left: 50%;
    transform: translate(-50%, 0);
    width: 95%;
    font-size: 22px; 
}

.img-wrap{
    display: inline-block;
    position: absolute;
    top: 25%; left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}

.img-wrap>img{
    display: inline-block;
    vertical-align: middle;
}

.reactIcon{ width: 120px; height: 120px; }
.mongoIcon{ width: 120px; height: 150px; }
.nodeIcon{  width: 170px; height: 100px; }

.img-wrap>span{
    vertical-align: middle;
    margin: 0 40px;
    font-size: 40px;
    color: #444444;
    font-weight: 100;
}

.goBoardBtn{
    display: inline-block;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 340px;
    height: 210px;
    padding: 20px 0;
    font-size: 15px;
    font-weight: bold;
    color: #787A91;
    text-align: center;
    background-color: #EEEEEE;
    border-radius: 5px;
    transition: 0.2s ease;
}

.goBoardBtn:hover{
    background: #DBE6FD;
}

.boardImg{
    display: block;
    width: 120px;
    height: 120px;
    font-size: 17px;
}

.goBoardTxt{
    font-size: 22px;
    margin-top: 20px;
}


@media screen and (max-width: 767px) {
    .introTxt{ 
        top: 7%;
        font-size: 18px;
    }
    .img-wrap{
        top: 23%;
    }
    .img-wrap>span{ 
        font-size: 30px;
        margin: 0 15px;
    }

    .goBoardBtn{
        bottom: 10%;
        padding: 25px 0;
        width: 300px;
        height: 190px;
    }
    
    .boardImg{
        display: block;
        width: 100px;
        height: 100px;
        font-size: 17px;
    }
    
    .goBoardTxt{
        font-size: 18px;
        margin-top: 15px;
    }
}
@media screen and (max-width: 615px) {
    .img-wrap>span{ margin: 0 10px; }
}

@media screen and (max-width: 524px) {
    .introTxt{ font-size: 18px; }
    .img-wrap>img{ transform: scale(0.6); }
    .img-wrap>span{ 
        margin: 0 -20px;
        font-size: 25px; }
    }


/* ---------- List ---------- */

.post-list{
    display: inline-block;
    width: 100%;
    list-style: none;
    padding-left: 0;
}

.post-list>li{
    border-bottom: 1px solid #d6d6d6;
}

.post-list>li>a{
    position: relative;
    display: inline-block;
    padding: 10px 5px;
    width: 100%;
    height: 100%;
}

.post-list>li>a>span{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.list-title{
    width: 78%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list-nic{ 
    width: 10%;
    text-align: center;
}

.list-date{ 
    width: 12%;
    text-align: right;
}

@media screen and (max-width: 767px) {
    .post-list>li>a>span{     
        font-size: 15px;
    }
    .list-title{
        width: 70%;
    }
    .list-nic{ 
        width: 13%;
    }
    .list-date{
        width: 17%;
    }
}

@media screen and (max-width: 400px) {
    .post-list>li>a>span{     
        font-size: 13px;
        
    }
    .list-title{
        width: 75%;
    }
    .list-nic{ 
        position: absolute;
        top: 2px; right: 0;
        text-align: center;
        width: 25%;
    }
    .list-date{
        position: absolute;
        bottom: 2px; right: 0;
        text-align: center;
        width: 25%;
    }

}

/* ---------- Post ---------- */

.post-wrap{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.post-title-wrap, .post-content{
    position: relative;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.post-title-wrap{
    position: relative;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
}

.post-title{
    display: inline-block;
    position: absolute;
    top: 48%; left: 0;
    transform: translate(0, -50%);
    width: 87%;
    margin: 0 0 10px 0;
    padding-left: 10px;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.post-title-wrap>span{
    position: absolute;
    font-size: 14px;
    width: 13%;
    padding: 0 10px 0 0;
    text-align: right;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.post-date{
    bottom: 4px; right: 0;
}

.post-nic{
    top: 4px; right: 0;
}

.post-content{
    display: inline-block;
    width: 100%;
    min-height: calc(100vh - 285px);
    padding: 15px;
    line-height: 1.5;
}


@media screen and (max-width: 767px) {
    .post-title-wrap{
        padding: 5px;
    }
    .post-title-wrap>span{
        width: 25%;
    }

    .post-content{
        height: calc(100vh - 245px);
    }
    .post-title{
        width: 75%;
        font-size: 17px;
    }
    .post-nic{
        top: 4px; right: 0;
    }
    .post-date{
        width: 25%;
        font-size: 12px;
        padding: 0 5px 0 0;
    }
}



/* ---------- Write ---------- */

#write-form{
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(100% - 60px);
}

#edit-form{
    height: calc(100% - 45px);
}

#edit-form>#body-input{
    height: calc(100vh - 285px) !important;
    margin-bottom: 5px;
}

#title-input, #body-input, #writeBtn, #pw-input, #nic-input{
    display: block;
    width: 100%;
    resize: none;
    outline: 0;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    font-size: 17px;
    padding: 7px;
}

#title-input{
    height: 35px;
    margin-bottom: 10px;
}

#body-input{
    display: inline-block;
    height: calc(100vh - 160px);
}

.user-wrap{
    width: 100%;
    height: 35px;
    margin: 10px 0 15px 0;
    text-align: right;
}

.user-wrap>span{
    padding-left: 15px;
}

#nic-input{
    display: inline-block;
    width: 100px;
    height: 100%;
    padding-left: 10px;
}

#pw-input{
    display: inline-block;
    width: 80px;
    height: 100%;
    margin-left: 10px;
}

#writeBtn{
    font-size: 17px;
    height: 45px;
    padding: 3px;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
}

@media screen and (max-width: 767px){

    #write-form{
        height: calc(100% - 45px);
    }
    .user-wrap>span{
        font-size: 16px;
        padding-left: 15px;
    }
    #nic-input{
        padding-left: 5px;
    }
    
    #pw-input{
        margin-left: 5px;
    }

    #body-input{
        height: calc(100vh - 340px);
    }
    #edit-form>#body-input{
        height: calc(100vh - 285px) !important;
        margin-bottom: 5px;
    }

}

/* ---------- UserCheck ---------- */

.usercheck-wrap{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
}

.subtitle{
    display: block;
    position: absolute;
    width: 100%;
    font-size: 27px;
    color: #787A91;
    text-align: center;
}

#chk-passwd{
    display: block;
    position: absolute;
    top: 45%; left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 35px;
    outline: 0;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #787A91;
}

#chk-pwBtn{
    position: absolute;
    bottom: 0; left: 0;
    display: block;
    width: 100%;
    height: 40px;
    margin: 0;
    font-size: 17px;
    border-radius: 3px;
    color: #fff;
    border: none;
    background-color: #96BAFF;
    outline: 0;
    cursor: pointer;
    transition: 0.3s ease;
}

#chk-pwBtn:hover{
    background-color: #7C83FD;
}

@media screen and (max-width: 767px){

    .usercheck-wrap{
        display: inline-block;
        position: relative;
        top: 0; left: 0;
        transform: none;
        width: 100%;
        height: calc(100vh - 175px);
    }
    .subtitle{
        display: block;
        position: absolute;
        top: 10px;
        width: 100%;
        font-size: 27px;
        color: #787A91;
        text-align: center;
    } 
    #chk-passwd{
        display: block;
        position: absolute;
        top: 45%; left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 40px;
        outline: 0;
        border-radius: 3px;
        text-align: center;
        border: 1px solid #787A91;
    }   
    #chk-pwBtn{
        position: absolute;
        bottom: 0; left: 0;
    }

}

/* --------------- Footer --------------- */
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /*background-color: #A2DBFA;*/
    background-color: #EEEEEE;
}

.footer-wrap{
    position: relative;
    max-width: 1080px;
    height: 100%;
}

.footerTxt{
    display: inline-block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: #B2B1B9;
}

@media screen and (max-width: 767px){

    .footerTxt{
        font-size: 12px;
    }

}



/* --------------- loader --------------- */

.loader{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: url('./images/loading.png') no-repeat center / 90%;
    animation: loading-effect 1.75s 0s linear infinite;
}

@keyframes loading-effect {
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media screen and (max-width: 767px){

    .loader{
        width: 100px;
        height: 100px;
    }

}
