@charset "utf-8";

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0; 
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style: none;
    padding: 0;
}


/* ---------------- Common ---------------- */

.header_wrap, .main_wrap, .footer_wrap{
    position: relative;
    max-width: 1100px;
    height: 100%;
}


/* ---------------- header ---------------- */

.header{
    width: 100%;
    height: 70px;
    background-color: #867AE9;
}

.title{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
    display: inline-block;
    font-size: 38px;;
}

.title>a{
    color: #F4F9F9;
}

.nav{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
}

.menu>li{
    display: inline-block;
}

.menu>li>a{
    position: relative;
    padding: 10px 5px;
    margin: 0 15px;
    color: #F4F9F9;
}

.menu>li>a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: 0.3s ease;
    z-index: -1;
}

.menu>li:hover a::after { width: 100%; }

/* ---------------- main ---------------- */

.main{
    width: 100%;
    height: calc(100vh - 130px);
    background-color: #fff;
    color: #000;
    overflow: scroll;
}

.main_wrap{
    padding: 30px;
}

/* ---------------- board ---------------- */

.board{
    height: 100%;
}

#titleInput{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid #444444;
    outline: none;
}

#content{
    display: block;
    width: 100%;
    height: calc(100% - 115px);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #444444;
    outline: 0;
    resize: none;
}

#submitBtn{
    display: block;
    width: 100%;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    background-color: #E1E8EB;
    color: #000;
    cursor: pointer;
    transition: 0.3s ease;
}
#submitBtn>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 13px 0;
}

.list{
    padding-bottom: 20px;
}

.post_list{
    border-top: 1px solid #BBBBBB;
}

.post_list>li{
    position: relative;
    display: block;
    border-bottom: 1px solid #BBBBBB;
}
.post_list>li>a{
    position: relative;
    display: block;
    padding: 15px 0;
    font-size: 0;
}
.post_list>li>a>span{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 15px;
}

.post_title{
    padding-left: 10px;
    width: 85%;
}
.post_date{
    width: 15%;
    padding-right: 10px;
    text-align: right;
}

@media screen and (max-width: 767px ) {
    .post_list>li>a>span{
        font-size: 13px;
    }
    .post_title{
        padding-left: 2px;
        width: 75%;
    }

    .post_date{
        width: 25%;
        padding-right: 2px;
        text-align: right;
        
    }
}
/* ---------- Content ----------- */

.cont-title{
    position: relative;
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f7f7f7;
}

.cont-title>span{
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.title-txt{
    width: 85%;
    vertical-align: middle;
}

.title-date{
    font-size: 14px;
    width: 15%;
    text-align: right;
    vertical-align: middle;
}

.cont-content{
    position: relative;
    display: inline-block;        
    white-space: normal;
    overflow-wrap: break-word;
    width: 100%;
    min-height: calc(100% - 110px);
    padding: 15px;
    background-color: #f7f7f7;
}



@media screen and (max-width: 767px ) {

    .cont-title{
        padding: 15px;
    }
    
    .title-txt{
        font-size: 16px;
        width: 80%;
    }

    .title-date{
        font-size: 10px;
        width: 20%;
        text-align: center;
    }

}

/* ---------- TopMenu ----------- */

.topMenu{
    text-align: right;
    margin-bottom: 10px;
}

.topMenu>li{
    display: inline-block;
    text-align: center;
    margin-left: 7px;
}
.topMenu>li>a{
    display: inline-block;
    padding: 7px 15px;
    border: 1px solid #EDEDED;
    border-radius: 3px;
    background-color: #eeeeee;
    transition: 0.2s ease;
}
.topMenu>li>a:hover{
    background-color: #77ACF1;
    color: #fff;
}

@media screen and (max-width: 767px){
    .main_wrap{
        padding: 10px;
    }
}

/* ---------- write ----------- */

#write_form{
    height: calc(100% - 45px);
}

/* ---------------- footer ---------------- */
.footer{
    width: 100%;
    height: 60px;
    background-color: #E8EFEB;
}

.footer_wrap{
    position: relative;
    text-align: center;
    height: 100%;
}

.footer_txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    color: #393E46;
    font-size: 14px;
}