@charset "utf8";

*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}
/* --------------- Common --------------- */

/* --------- top-menu ---------*/

.top-menu{
    display: inline-block;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 0;
    list-style: none;
}
.top-menu>li{
    float: right;
}
.top-menu>li>a{
    display: inline-block;
    padding: 5px 15px;
    margin-left: 3px;
    color: #293B5F;
    background-color: #DBE6FD;
    border-radius: 3px;
    font-size: 17px;
    transition: 0.2s ease;
}

@media screen and (max-width: 767px) {
    .top-menu{
        margin-bottom: 10px;
    }
}


/* --------------- Header --------------- */

.header{
    width: 100%;
    height: 70px;
    background-color: #77ACF1;
}

.header-wrap{
    position: relative;
    max-width: 1080px;
    height: 100%;
}

.title{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    font-weight: 700;
    font-size: 22px;
}

.title>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .title{ 
        left: 50%; 
        transform: translate(-50%, -50%); 
        font-size: 20px;
    }
}


/* --------------- Main --------------- */

.main{
    height: calc(100vh - 130px);
    overflow-y: scroll;
}

.main-wrap{
    position: relative;
    max-width: 1080px;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.goBoardBtn{
    position: absolute;
    top: 65%; left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;   
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 0;
    background-color: #EEEEEE;
    border-radius: 5px;    
    text-align: center;
    transition: 0.2s ease;
}

.goBoardBtn:hover{
    background: #DBE6FD;
}

.boardImg{
    display: block;
    width: 70px;
    height: 70px;
    font-size: 17px;
}

.goBoardTxt{
    margin-top: 10px;
}


@media screen and (max-width: 767px) {
    .main-wrap{
        padding: 10px;
    }
    .goBoardBtn{
        top: 75%;
    }
}

/* ---------- Intro ---------- */

.intro-wrap{
    position: absolute;
    top: 15%; left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 0 10px;
    text-align: center;
    user-select: none;
}

.img-wrap{
    display: inline-block;
    width: 100%;
}

.introTxt{
    font-size: 22px; 
    margin-bottom: 30px;
}

.img-wrap>img{
    display: inline-block;
    vertical-align: middle;
}

.reactIcon{ width: 120px; height: 120px; }
.mongoIcon{ width: 120px; height: 150px; }
.nodeIcon{  width: 170px; height: 100px; }

.img-wrap>span{
    vertical-align: middle;
    margin: 0 40px;
    font-size: 40px;
    color: #444444;
    font-weight: 100;
}

@media screen and (max-width: 767px) {
    .introTxt{ font-size: 18px; }
    .img-wrap>img{ transform: scale(0.7); }
    .img-wrap>span{ margin:0; font-size: 30px; }
}

@media screen and (max-width: 524px) {
    .introTxt{ font-size: 18px; }
    .img-wrap>img{ transform: scale(0.5); }
    .img-wrap>span{ margin: 0 -25px; font-size: 25px; }
}


/* ---------- List ---------- */

.post-list{
    display: inline-block;
    width: 100%;
    height: calc(100% - 40px);
    list-style: none;
    padding-left: 0;
}

.post-list>li{
    border-bottom: 1px solid #d6d6d6;
}

.post-list>li>a{
    display: inline-block;
    padding: 10px 5px;
    width: 100%;
    height: 100%;
}

.post-list>li>a>span{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}
.list-title{
    width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list-date{ 
    width: 15%;
    text-align: right;
}

@media screen and (max-width: 767px) {
    .post-list>li>a>span{     
        font-size: 15px;
    }
    .list-title{
        width: 70%;
    }
    .list-date{
        width: 30%;
    }
}

/* ---------- Post ---------- */

.post-title-wrap, .post-content{
    position: relative;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.post-title-wrap{
    position: relative;
    height: 50px;
    margin: 10px 0;
    padding: 10px;
}

.post-title{
    display: inline-block;
    position: absolute;
    top: 48%; left: 0;
    transform: translate(0, -50%);
    width: 85%;
    padding-left: 10px;
    font-size: 18px;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.post-date{
    position: absolute;
    top: 48%; right: 0;
    transform: translate(0, -50%);
    width: 15%;
    font-size: 14px;
    text-align: right;
    padding: 0 15px;
    vertical-align: middle;
}

.post-content{
    display: inline-block;
    width: 100%;
    height: calc(100% - 110px);
    padding: 15px;
    margin-bottom: 30px;
    line-height: 1.5;
}


@media screen and (max-width: 767px) {
    .post-title-wrap{
        padding: 5px;
    }
    .post-content{
        height: calc(100% - 115px);
        padding: 10px;
        margin-bottom: 0;
    }
    .post-title{
        width: 75%;
        font-size: 17px;
    }
    .post-date{
        width: 25%;
        font-size: 12px;
        padding: 0 5px 0 0;
    }
}

/* ---------- Write ---------- */

#write-form{
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(100% - 60px);
}

#title-input, #body-input, #writeBtn{
    display: block;
    width: 100%;
    resize: none;
    outline: 0;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    font-size: 17px;
    padding: 7px;
}
#title-input{
    height: 35px;
    margin-bottom: 10px;
}
#body-input{
    display: inline-block;
    height: calc(100% - 100px);
}
#writeBtn{
    font-size: 17px;
    height: 45px;
    margin-top: 10px;
    padding: 3px;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
}

@media screen and (max-width: 767px){

    #write-form{
        height: calc(100% - 60px);
    }
}

/* --------------- Footer --------------- */
.footer{
    width: 100%;
    height: 60px;
    /*background-color: #A2DBFA;*/
    background-color: #EEEEEE;
}

.footer-wrap{
    position: relative;
    max-width: 1080px;
    height: 100%;
}

.footerTxt{
    display: inline-block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: #B2B1B9;
    
}


/* --------------- loader --------------- */

.loader{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: url('./images/loading.png') no-repeat center / 90%;
    animation: loading-effect 1.75s 0s linear infinite;
}

@keyframes loading-effect {
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media screen and (max-width: 767px){

    .loader{
        width: 100px;
        height: 100px;
    }

}
